<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"
        integrity="sha256-pMea2a/7QK1RhYpSh7rIpKSajxu4j61VmpJCJ31KrfA=" crossorigin="anonymous"></script>
<script>
    var socket = io('http://localhost:80');

    socket.on('log', function (data) {
        var log_div = document.getElementById('show_log');
        for (var i = 0; i < data.tail.length; i++) {
            log_div.innerHTML += data.tail[i] + '<br>';
        }
    });
    socket.on('clear_log', function (data) {
        var log_div = document.getElementById('show_log');
        log_div.innerHTML = "";
    });
</script>

Log File
<div id="show_log"></div>